<html>
<head>

</head>
<body>

<form method="post" action="/regst">
    <input type="text" class="form-control" id="name" name="Name" placeholder="name"><br>
    <input type="email" class="form-control" id="email" name="Email" placeholder="Email"><br>
    <input type="password" class="form-control" id="pass" name="Pass" placeholder="Password"><br>
    <input type="number" class="form-control" id="num" name="Num" placeholder="Number"><br>
    <input type="submit" class="btn btn-primary" id="reg-form-btn" value="Register">

</form>
</div>
</body>
</html>
