<html>
<head>
</head>
<body>
<form method="post">
<h1> Name &nbsp;&nbsp;<%= Name; %> </h1>
<h1> Email Id &nbsp;&nbsp; <%= Email; %> </h1>
<h1> Phone No &nbsp;&nbsp; <%= Num; %> </h1>
<h1> Object id &nbsp;&nbsp; <%= Obj; %> </h1>
</form>
</body>
</html>
