<!DOCTYPE html>
<html>
<head>
	<title>JavaTpoint</title>
	<style type="text/css">
	body,html,div,a,ul,li{
		margin:0px;
		padding:0px;
		
	}
		  .child1 li{
			 float:right;
			 padding-right:8px;
			 padding-left: 8px;
			 text-decoration:none;
			 color: #6666CC;
			 list-style-type: none;
			 border-right: 1px solid black;
		    }
		    .child1{
		    	text-decoration: none;

		    }

		    
		  .child4 ul{
	          list-style-type: none;
                    }
           .child4 li{
             border: left;
             float: left;
            padding-left: 5px;
            padding-right: 5px;
           border-right: 1px solid pink;
           }
         
           hr{

           width: 100%;
           	border-color:orange;
           	border-width: 1px solid orange;
           }
           .child2{
           	float: left;
           }
           .child3 input{
           	border-left: 10px;
            border:1px solid pink;
            margin: 8px 0px 0px 80px;
            height: 20px;


           	           }
.parent3
{
    margin:0px;
}
.parent4 h4
{
	color:red;
 }
 .parent4{
  font: 13px verdana,helvetica,arial,sans-serif;
    line-height: 26px;
 }
             .child4 {
             background-image: url(1px.gif);
             overflow:hidden;
             height: 40px;
             margin-top:13px;
}
.child4 a:hover{
	color:green; 
	background-color:lightgrey;
}
            

ul li  {

padding-left: 12px;
color:  #E74C3C; 
}
.parent5{
	    float:left;
    padding-right: 10px;
    margin-right: 0px;
    margin-top: -850px;
    margin-left: 182px;
}
          

	</style>
</head>
<body>
<div class="parent">
<div class="child1">
	<ul>
		<li><a href="components/Contact.html">login</a></li>
		<li><a href="components/Contribute.html">Ask Question</a></li>
		<li><a href="components/Ask question.html">Contribute</a></li>
		<li><a href="components/login.html">Contact Us</a></li>
	</ul>
	
</div>
	<hr>
</div>
<div class="parent2">
<div class="child2">
	<img src="C:\Users\pavitra\Desktop/jtp_logo.png">

</div>
<div class="child3">
<img src="C:\Users\pavitra\Desktop/search.png">
<input type="text" name="search box" placeholder="search on javaTpoint">
</div>
</div>
<div class="parent3">
	<div class="child4">

	<ul>
		<li><a href="www.google.com">Home</a></li>
		<li><a href="www.google.com">Java</a></li>
		<li><a href="www.google.com">C</a></li>
		<li><a href="www.google.com">Sql</a></li>
		<li><a href="www.google.com">Android</a></li>
		<li><a href="www.google.com">php</a></li>
		<li><a href="www.google.com">html</a></li>
		<li><a href="www.google.com">Css</a></li>
		<li><a href="www.google.com">Xml</a></li>
		<li><a href="www.google.com">Java Script</a></li>
		<li><a href="www.google.com">Ajax</a></li>
		<li><a href="www.google.com">Cloud</a></li>
		<li><a href="www.google.com">Python</a></li>
		<li><a href="www.google.com">Web Services</a></li>
		<li><a href="www.google.com">Quiz</a></li>
		<li><a href="www.google.com">Projects</a></li>
		<li><a href="www.google.com">Interview Q</a></li>
		<li><a href="www.google.com">Comments</a></li>
		<li><a href="www.google.com">Training</a></li>
	</ul>
	</div>
</div>
<div class="parent4">
	<ul>
		<li><a href="">Web Desining Training</a></li>
		<h4><img src="C:\Users\pavitra\Desktop/logo.png">HTML Tutorial</h4>
		<li><a href="">Introduction To HTML</a></li>
		<li><a href="">What is HTML</a></li>
		<li><a href="">HTML tags</a></li>
		<li><a href="">HTML formating</a></li>
		<li><a href="">HTML heading</a></li>
		<li><a href="">HTML paragraph</a></li>
		<li><a href="">HTML Anchor</a></li>
		<li><a href="">HTML Image</a></li>
		<li><a href="">HTML Table</a></li>
		<li><a href="">HTML List</a></li>
		<li><a href="">HTML Ordered list</a></li>
		<li><a href="">HTML Unordered list</a></li>
		<li><a href="">HTML Description list</a></li>
        <li><a href="">HTML Form</a></li>
        <h4><img src="C:\Users\pavitra\Desktop/logo.png">HTML Tags</h4>
		<li><a href="">HTML Marquee</a></li>
		<li><a href="">HTML Textarea</a></li>
		<li><a href="">HTML Quotes</a></li>
		<li><a href="">HTML Style</a></li>
		<li><a href="">HTML Title</a></li>
		<li><a href="">HTML DOCTYPE</a></li>
		<li><a href="">HTML Div Tag</a></li>
		<li><a href="">HTML Pre Tag</a></li>
		<li><a href="">HTML Code Tag</a></li>
		<li><a href="">HTML Label Tag</a></li>
		<li><a href="">HTML Input Tag</a></li>
		<li><a href="">HTML Button Tag</a></li>
		<li><a href="">HTML HR Tag</a></li>
        <li><a href="">HTML BR Tag</a></li>
        <li><a href="">HTML Script Tag</a></li>
        <li><a href="">HTML NoScript Tag</a></li>
        <li><a href="">HTML b Tag</a></li>

	</ul>
</div>
<div class="parent5">
	<h1>HTML Tutorial</h1>
	<p>HTML tutorial or HTML 5 tutorial provides basic and advanced concepts of html. Our HTML tutorial is developed for beginners and professionals. The major points of HTML are given below:</p>

    <p>HTML stands for Hyper Text Markup Language.</p>

    <p>HTML is used to create web pages.</p>

    <p>HTML is widely used language on the web.</p>

    <p>We can create static website by HTML only.</p>

</p>
<h1>HTML 5 Tags</h1>

<p>In this tutorial, we will learn HTML 5 tags such as audio tag, video tag, canvas tag, HTML svg, HTML geolocation, HTML drag and drop etc.</p>

<h1>All HTML Tags</h1>

<p>At last, we will learn all HTML tags one by one for example, marquee tag, textarea tag, br tag, hr tag, pre tag, h tag, code tag, input tag, title tag, meta tag, script tag, style tag etc.</p>

<h1>Problem</h1>

<p>If you find any problem or mistake in our tutorial, you can report to us. We assure, you will not find any problem in HTML tutorial.</p>
<h1>What is HTML</h1>

<p><strong>HTML</strong> is an acronym which stands for Hyper Text Markup Language. Let's see what is Hyper Text and what is Markup Language?</p>

<p><strong>Hyper Text:</strong> Hyper Text simply means "Text within Text". A text has a link within it, is a hypertext. Every time when you click on a word which brings you to a new webpage, you have clicked on a hypertext.</p>

<p><strong>Markup language:</strong> A markup language is a programming language that is used make text more interactive and dynamic. It can turn a text into images, tables, links etc.</p>

<p>An HTML document is made of many HTML tags and each HTML tag contains different content.</p>

</div>

</body>

</html>