<html>
<head>
</head>
<body>
<div class="form-group">

<form method="post" action="/login">
<p> User Name </p>
<input type="text" class="form-control" id="name" name="Name" placeholder="name"><br>
<p> Email </p>
<input type="text" class="form-control" id="Email" name="Email" placeholder="password"><br>
 <input type="submit" class="btn btn-primary" id="reg-form-btn" value="Login">
</form>
</div>
</body>
</html>