<!DOCTYPE html>
<html lang="en">
<title>Lync School-Contact us</title>
<meta name="Keywords" content="Lync school, courses in Lync school, Lync school courses, Lync school in Hyderabad, Job oriented training Hyderabad, Software training institutes in Hyderabad, Job oriented training Hyderabad, Software training online courses, Computer Software Training Institutes Hyderabad, Best  training institute in Hyderabad, Software training institutes in Hyderabad,
">
<meta name="Description" content="your every step along the way in building your career. Get in touch with our friendly staff for any queries.">
<meta name="title" content="Lync School-Contact us">
<meta name="robots" content="index, follow">
<head>
<style type="text/css">
.Contactinfo{
    border:1px solid red;
}
.rectangle {
   width: 4px;
   height: 100.5px;
   overflow: hidden;
   background-image: linear-gradient(to top, #ff0000, #2cd000 48%, #00179c);
}
.rectangle1 {
   width: 4px;
   height: 50px;
   overflow: hidden;
   background-image: linear-gradient(to top, #ff0000, #2cd000 48%, #00179c);
}
.form-group input{
    border:none;
    border-radius: 0px;

    border-bottom: 1px solid lightgray;
}
@media only screen and (min-width: 641px)
{
   .text-sm-center
   {
      text-align: center;
   }

}
@media only screen and (max-width: 400px)
{

 .jumbotron img
   {
     height: 200px;
   }
   .jumbotron p{
    font-size: 1px;
}

}
   </style>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="p:domain_verify" content="c5289fce3a2eccb3b9c2c8b8139a4a19"/>
    <link rel="icon" href="images/lync school.png" alt="best technology training institute-lync school" type="image/x-icon">
<title>Lyncschool</title>
<!-- Bootstrap -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--- fonts -->
<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="assests/vendor/slick/css/slick-theme.css" rel="stylesheet">
    <link href="assests/slick/css/slick.css" rel="stylesheet">
    <!-- site styles -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<header>
    <!--   top nav-bar -->
    <div class="navbar  socialIcon1">
        <div class="navbar-header mediaq">
            <ul class="socialIcons">
                <li><a href="https://www.facebook.com/LyncSchool/" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/lyncschool" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/107475250084996429853" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/company/lync-school" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="contactDetails">
            <li><a href="#"><img src="img/lyncschool_india.png" alt="best technology training institute in india-lync school" aria-hidden="true" style="width: 27px;padding-right: 5px;" ></i>+91 40655 55777</a></li>
             <li><a href="#"><img src="img/lyncschool_us.png" alt="best technology training institute in US-lync school" aria-hidden="true" style="width: 27px;padding-right: 5px;" ></i>+(415)8 397 276</a></li>
        </div>
    </div>
<!--end of top nav-bar    -->

    <div class="header">
        <div class="wrapper">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/home"><img src="img/lyncschool.png" alt="best software training institute-lync school"></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/programs">Programs</a></li>
                            <li><a href="/job-oriented-courses">Courses</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li class="dropdown">
                           <a href="#" class="dropdown" data-toggle="dropdown" style="background-color: transparent;">Company  &#9662;</a>
                           <ul class="dropdown-menu">
                             <li><a href="/contact">Contact us</a></li>
                             <li><a href="/aboutus">About Us</a></li>
                           </ul>
                           </li>
                           <li><a href="/corporate-training-programs">Corporate</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- login & search -->
            <div class="usercontrols navbar-right">

                <div class="login">
                    <a href="/apply"><i class="fa fa-user-circle" aria-hidden="true"></i><span class="text">APPLY</span></a>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="search-block">
        <div class="wrapper">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
                    <a class="btn btn-primary input-group-addon" id="basic-addon2">Search</a>
                </div>
            </form>
        </div>
    </div>
-->
</header>

<div class="jumbotron" style="overflow: hidden; padding: 0px;">
    <img src="img/lync school programs for graduates.jpg" alt="best technology programs for graduates in lync school" height="350" width="100%">
    <p style="padding: 7% 0 0 0%;position: absolute;font-family: 'Dancing Script', cursive;color: #fff;width:100%;font-size: 50px;text-align: center;top:120px;">CONTACT</p>
</div>
<div class="container" style="box-shadow:0 0 7px;margin-top: 40px;margin-bottom: 30px;">
<div class="row">

<div class="col-sm-3 col-sm-offset-1" style="margin-top: 50px;margin-left:165px;">
<hr class="rectangle1" style="float:left">
<a class="fa fa-phone" style="margin-left: 20px; font-size:18px;"></a>
<p style="font-size:14px; margin-left: 20px;">IN: +91 4065555777</br>Email:support@lyncschool.com</br>info@lyncschool.com</p>
<p style="font-size:14px; margin-left: 20px;">US: + (415) 839 7276</br></p>
</div>

<div class="col-sm-3" style="margin-top: 30px;">
<hr class="rectangle" style="float: left">
<a class="fa fa-map-marker" style="margin-left: 20px;font-size:18px;"></a>
<p style="margin-left: 20px;"><strong>India Address:</strong></p>
<p style="font-size:14px; margin-left: 20px;">LyncSchool Pvt Ltd.</br>Second Floor,Plot No:6-11Suvey No.40.</br>Khajaguda,Naga Hills Rd</br>Gachibowli,Hyderabad</br>Telangana 500008</p>

</div>
<div class="col-sm-3" style="margin-top: 30px; ">
<hr class="rectangle" style="float: left">
<a class="fa fa-map-marker" style="margin-left: 20px;font-size:18px;"></a>
<p style="margin-left: 20px;"><strong>USA Address:</strong></p>

<p style="font-size:14px; margin-left: 20px;">Lync School(Corporate Office)

</br>1 Hallidie Plaza</br>Suite 404B</br>San Francisco</br>California 94102</p>
</div>

</div>
</div>

<div class="container">
<div class="row" style="margin-bottom: 30px;">
<div class="col-sm-6">
                        <h3><center>Contact Form</center></h3>
                        <hr style="width: 200px;height: 0px;color: grey;">
                        <form action="/api/contactus" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <a class="fa fa-user" style="color:grey;font-size: 20px;"></a>
                                    <label>Name:</label>
                                    <input type="text" name="name" class="form-control" required style="box-shadow: none;"">
                                </div>
                                <div class="form-group">
                                    <a class="fa fa-envelope" style="color:grey;font-size: 20px;"></a>
                                    <label>Email address:</label>
                                    <input type="email" name="email" class="form-control" required style="box-shadow: none;" >
                                </div>
                                <div class="form-group">
                                    <a class="fa fa-pencil" style="color:grey;font-size: 20px;"></a>
                                    <label>Message:</label>
                                    <input type="text" name="message" class="form-control" required style="box-shadow: none;">
                                </div>
                                <div class="form-group">
                                    <a class="fa fa-phone" style="color:grey;font-size: 20px;"></a>
                                    <label>Phone-Number</label>
                                    <input type="text" name="PhoneNumber" class="form-control" place type="tel" pattern="^\d{10}$" required style="box-shadow: none;">
                                </div>

                                <input type="submit" class="btn btn-default"/>
                            </fieldset>
                        </form>
                    </div>
<!-- <div class="col-sm-6">
<h3><center>Contact Form</center></h3>
<hr style="width: 200px;height: 0px;color: grey;">

<div class="row">
<a class="fa fa-user" style="color:grey;font-size: 20px;"></a>
<input type="text" name="" placeholder="Name *" style="border-style: none;border-bottom: 1px solid  lightgrey; width: 90%;padding: 18px;outline:0;font-weight: bold;"></br>
</div>

<div class="row">
<a class="fa fa-envelope" style="color:grey;font-size: 20px;"></a>
<input type="text" name="" placeholder="Email *" style="border-style: none;border-bottom: 1px solid  lightgrey; width: 90%;padding: 18px;outline:0;font-weight: bold;"></br>
</div>

<div class="row">
<a class="fa fa-phone" style="color:grey;font-size: 20px;"></a>
<input type="text" name="" placeholder="Phone Number *" style="border-style: none;border-bottom: 1px solid  lightgrey; width: 90%;padding: 18px;outline:0;font-weight: bold;"></br>
</div>


<div class="row">
<a class="fa fa-pencil" style="color:grey;font-size: 20px;"></a>
<textarea placeholder="Message *" style="border-style: none;outline:0;border-bottom: 1px solid  lightgrey; width: 90%;font-weight: bold;padding: 18px;"></textarea>
</div>


</div> -->

<div class="col-sm-6" style="margin-top: 30px;height: 300px;padding:0px;">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.8418653040676!2d78.37274231443938!3d17.41937498805944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9407baba124b%3A0xb46a49085cd79e7b!2sDigital+Lync+Technologies+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1480600177689" height="100%" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


</div>
</div>

<body>
    <div class="footer">
        <div class="wrapper">
            <div class="footer-links">
                <div class="row">
                    <div class="col-sm-3">
                        <h6>Address</h6>


                        <p><span class="head">Lync School</span> Khajaguda, Naga Hills Rd, Madhura Nagar Colony, Gachibowli, Hyderabad, Telangana, 500008.</p>
                        <p><span class="head">Lync School(Corporate Office)</span> <br>1 Hallidie Plaza,Suite 404B,San Francisco,California, 94102.</p>
                    </div>
                    <div class="col-sm-3">
                        <h6>Reach</h6>
                        <p><span class="head">Phone[IN]&nbsp;:&nbsp;</span>+91 40655 55777</p>
                        <p><span class="head">Phone[US]&nbsp;:&nbsp;</span>+(415)8 397 276</p>
                        <p><span class="head">Email&nbsp;:&nbsp;</span> info@lyncschool.com</p>
                        <h6>Connect</h6>
                        <ul class="list-unstyled social">
                            <li><a href="https://www.facebook.com/LyncSchool/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/lyncschool"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://plus.google.com/107475250084996429853"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/lync-school"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCFjwj6fXX3HM9DtDbnB83NQ"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Links</h6>
                        <ul class="list-unstyled links">
                           <li><a href="/programs"><i class="fa fa-angle-right" aria-hidden="true"></i>Programs</a></li>
                            <li><a href="/aboutus"><i class="fa fa-angle-right" aria-hidden="true"></i>Company</a></li>
                            <li><a href="/blog"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                            <li><a href="/contact"><i class="fa fa-angle-right" aria-hidden="true"></i>Connect</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Contact Us</h6>
                        <form action="/api/contact-us" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" name="name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Email address:</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Message:</label>
                                    <input type="text" name="message" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-default">Send</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-terms">
                <p>@2017 LyncSchool. All rights reserved.</p>
            </div>
        </div>
    </div>


</body>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/slick/js/slick.js"></script>
<script src="js/common.bundle.js"></script>
<script src="js/home.bundle.js"></script>
<script src="vendor/jquery/jquery.js"></script>
<script src="js/validations.js"></script>


</html>
