<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="Keywords" content = "corporate training program,corporate discount program,corporate program,corporate work study program,
corporate coaching program,proposal for corporate training program,mini corporate program,corporate learning program,corporate education program,corporate employee program,corporate communications program,corporate communication program,corporate buddy program,corporate developer program,corporate development program,
corporate trainee program,angularjs training,nodejs training,ui development training,ux designing training,drupal training,express training,express js training,python training,data science training,devops training,reactjs training,
Javascript training,mongodb training,lync school corporate courses,lync school courses,training plans your budget,corporate training plans" >
      <meta name="Description" content="Lync school corporate program is designed to help the companies build an effective team by providing them training in the latest technologies. You can customize your own plan by choosing the technologies you need with a package that is affordable.Our specialities are One on one training,Round the clock support,Effective Training sessions,we have physical and virtual learning centers">
    <meta name="title" content="corporate training programs in hyderabad">
  <meta name="robots" content="index, follow">
   <meta name="p:domain_verify" content="c5289fce3a2eccb3b9c2c8b8139a4a19"/>
      <title>Lync School Corporate training programs
      </title>
      <link rel="shortcut icon" href="images/lync school.png">
      <!-- Bootstrap -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <!--- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link href="css/font-awesome.min.css" rel="stylesheet">
      <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->

      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
   </head>
   <body>
      <header>
         <script src="js/jquery.min.js"></script>
         <script src="js/bootstrap.min.js"></script>
         <div class="navbar  socialIcon1">
            <div class="navbar-header mediaq">
               <ul class="socialIcons">
                  <li><a href="https://www.facebook.com/LyncSchool/" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="https://twitter.com/lyncschool" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="https://plus.google.com/107475250084996429853" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/lync-school" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
               </ul>
            </div>
            <div class="contactDetails">
                <li><a href="#"><img src="img/lyncschool_india.png" aria-hidden="true" style="width: 27px;padding-right: 5px;" alt="best technology training institute in india-lync school"></i>+91 40655 55777</a></li>
                 <li><a href="#"><img src="img/lyncschool_us.png" aria-hidden="true" style="width: 27px;padding-right: 5px;" alt="best technology training institute in US-lync school"></i>+(415)8 397 276</a></li>
            </div>
         </div>
         <div class="header">
            <div class="wrapper">
               <nav class="navbar navbar-default">
                  <div class="container-fluid">
                     <!-- Brand and toggle get grouped for better mobile display -->
                     <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="img/lyncschool.png"></a>
                     </div>
                     <!-- Collect the nav links, forms, and other content for toggling -->
                     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                           <li><a href="/programs">Programs</a></li>
                           <li><a href="/courses">Courses</a></li>
                           <li><a href="/blog">Blog</a></li>
                           <li>
                              <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Company <span class="caret"></span> </a>
                              <ul class="dropdown-menu" id="menu1" aria-labelledby="drop4">
                                 <li><a href="/contact">Contact Us</a></li>
                                 <li><a href="/about">About</a></li>
                              </ul>
                           </li>
                           <li><a href="/corporate-training-programs">Corporate</a></li>
                        </ul>
                     </div>
                     <!-- /.navbar-collapse -->
                  </div>
                  <!-- /.container-fluid -->
               </nav>
               <!-- login & search -->
               <div class="usercontrols navbar-right">
                  <!-- <div class="search">
                     <a href="javascript:void(0);"><i class="fa fa-search" aria-hidden="true"></i></a>
                     </div> -->
                  <div class="login">
                     <a href="/login"><i class="fa fa-lock" aria-hidden="true"></i><span class="text">APPLY</span></a>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <div class="container-fluid">
         <div class="row bgrnd">
            <div class="col-md-12 text-center">
               <h3>Corporate Program</h3>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12 lifont">
                  <div class="row text-center">
                     <h4>Corporate Program Description</h4>
                  </div>
                  <hr>
                  <p>Our Corporate training program is designed to accommodate employees of all levels. The corporate program is designed to help the companies build an effective team by providing them training in the latest technologies. You can customize your own plan by choosing the technologies you need with a package that is affordable.</p>
                  <p>Our training programs are designed in non traditional approach and focus on collaboration, discussion and interaction.</p>
                  <ul>
                     <li>One on one training</li>
                     <li>Round the clock support</li>
                     <li>Effective Training sessions.</li>
                     <li>we have physical and virtual learning centers</li>
                  </ul>
                  <p>Lync school accomodates students of all levels in the three trining programs that it  offers; Rookie, Sophomore and professional </p>
                  <p><b>Below are our categorized list of courses from which you can select.</b></p>
                  <p style="display:none;">best corporate courses training programs institute in gachibowli hyderabad telangana india.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 text-center about">
               <h3>Our Courses</h3>
               <hr>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="col-md-4">
                     <a href="/training/angularjs">
                     <button type="button" class="btn btn-warning pdgbtn">
                     Angular Js
                     </button>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="/training/nodejs">
                     <button type="button" class="btn btn-warning pdgbtn">
                     Node Js
                     </button>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="/training/ui-development">
                     <button type="button" class="btn btn-warning pdgbtn">
                     UI
                     </button>
                     </a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="col-md-4">
                     <a href="/training/ux-development">
                     <button type="button" class="btn btn-warning pdgbtn">
                     UX
                     </button>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="/training/drupal">
                     <button type="button" class="btn btn-warning pdgbtn">
                     Drupal
                     </button>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="/training/expressjs">
                     <button type="button" class="btn btn-warning pdgbtn">
                     Express Js
                     </button>
                     </a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="col-md-4">
                     <a href="/python-training">
                     <button type="button" class="btn btn-warning pdgbtn">
                     Python
                     </button>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="/training/python-datascience">
                     <button type="button" class="btn btn-warning pdgbtn">
                     Data science
                     </button>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="/training/drupal">
                     <button type="button" class="btn btn-warning pdgbtn">
                     Devops
                     </button>
                     </a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="col-md-4">
                     <a href="/training/reactjs">
                     <button type="button" class="btn btn-warning pdgbtn">
                     React Js
                     </button>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="/javascript-training">
                     <button type="button" class="btn btn-warning pdgbtn">
                     Java Script
                     </button>
                     </a>
                  </div>
                  <div class="col-md-4">
                     <a href="/training/mongodb">
                     <button type="button" class="btn btn-warning pdgbtn">
                     Mongo Db
                     </button>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 text-center about">
               <h3>Our Courses</h3>
               <hr>
            </div>
            <div class="wrapper">
               <div class="row about text-center">
                  <div class="col-sm-3 abt-blk">
                     <div class="text1">
                        <img src="img/lync school corporate courses.png" alt="corporate training courses in hyderabad">
                        <h4>View</h4>
                        <p>Take a look at our courses</p>
                     </div>
                  </div>
                  <div class="col-sm-3 abt-blk">
                     <div class="text1">
                        <img src="img/lync school corporate programs.png" alt="corporate programs in hyderabad">
                        <h4>Select</h4>
                        <p>Select the Courses you need</p>
                     </div>
                  </div>
                  <div class="col-sm-3 abt-blk">
                     <div class="text1">
                        <img src="img/lync school corporate training program.png" alt="corporate training programs in hyderabad">
                        <h4>Plan</h4>
                        <p>Plan your budget</p>
                     </div>
                  </div>
                  <div class="col-sm-3 abt-blk">
                     <div class="text1">
                        <img src="img/lync school corporate learning program.png" alt="corporate learning programs in hyderabad">
                        <h4>Proceed</h4>
                        <p>we will make your plan work.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="footer">
         <div class="wrapper">
            <div class="footer-links">
               <div class="clearfix">
                  <div class="col-sm-3">
                     <h6>Address</h6>
                     <p><span class="head">Digital Lync</span> 1 Hallidie Plaza suite 404B, SanFrancisco, California, 94102.</p>
                     <p><span class="head">Digital Lync</span> Khajaguda, Naga Hills Rd, Madhura Nagar Colony, Gachibowli, Hyderabad, Telangana, 500008.</p>
                  </div>
                  <div class="col-sm-3">
                     <h6>Reach</h6>
                     <p><span class="head">Mobile[IN]:</span> +91 70931 41616</p>
                     <p><span class="head">Mobile[USA]:</span> +1 (415)839-2126</p>
                     <p><span class="head">Email:</span> info@digital-lync.com</p>
                     <h6>Connect</h6>
<ul class="list-unstyled social">
                               <li><a href="https://www.facebook.com/LyncSchool/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                               <li><a href="https://twitter.com/lyncschool"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                               <li><a href="https://plus.google.com/107475250084996429853"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                               <li><a href="https://www.linkedin.com/company/lync-school"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="https://www.youtube.com/channel/UCFjwj6fXX3HM9DtDbnB83NQ"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                           </ul>



                  </div>
                  <div class="col-sm-3">
                     <h6>Links</h6>
                     <ul class="list-unstyled links">
                        <li><a href="/program"><i class="fa fa-angle-right" aria-hidden="true"></i>Programs</a></li>
                        <li><a href="/about"><i class="fa fa-angle-right" aria-hidden="true"></i>Company</a></li>
                        <li><a href="/blog"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                        <li><a href="/contact"><i class="fa fa-angle-right" aria-hidden="true"></i>Connect</a></li>
                     </ul>
                  </div>
                  <div class="col-sm-3">
                     <h6>Contact Us</h6>
                     <form id="submitFeedback">
                        <fieldset>
                           <div class="form-group">
                              <label>Name:</label>
                              <input type="text" id="fdname" name="name" class="form-control" required>
                           </div>
                           <div class="form-group">
                              <label>Email address:</label>
                              <input type="email" id="fdemail" name="email" class="form-control" required>
                           </div>
                           <div class="form-group">
                              <label>Message:</label>
                              <input type="text" id="fdmsg" name="message" class="form-control" required>
                           </div>
                           <button type="submit" class="btn btn-default">Send</button>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
            <div class="footer-terms">
               <p>@2016 LyncSchool. All rights reserved.</p>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="container">
                        <h2>
                           <span class="glyphicon glyphicon-ok-sign" style="color: green;font-size: 25px;" aria-hidden="true"></span>
                           <span id="message" style="color: black;position:relative;top: -5px"></span>
                        </h2>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </footer>
   </body>
</html>
